.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.menu-bars {
  margin-left: 10px;
  font-size: 20px;
  position: relative;
}


.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style:none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #C4C4C4;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  color: #616161;
}

#active {
  background-color: rgba(254, 167, 86, 0.1);
  width: 85%;
  border-radius: 10px;
}

#active span {
  color: #FEA756;
  font-weight: bold;
}

#active .icon-dashboard {
  color: #FEA756;
}

.nav-menu-items {
  width: 115%;
}

.navbar-toggle {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-text span {
  margin-left: 16px;
}

.header-sidebar {
  margin-top: 18px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

.img-sidebar {
  width: 50px;
  margin-right: 15px;
  margin-left: 10px;
}

.header-division {
  width: 2px;
  height: 35px;
  background: #D4D4D4;
  margin-right: 15px;
}

.header-name {
  color: #FE810EB3;
  font-size: 20px;
  font-weight: bold;
}

.user-img {
  margin: 30px 10px 15px 71px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.user-level {
  font-size: 15px;
  margin-top: -15px;
  margin-bottom: 20px;
  color: #0b2e70;
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
}

.btn-logout {  
  align-content: center;
  text-align: center;
  justify-self: flex-start;
  background: #F2F6FF; 
  right: 10px;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FEA756;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.btn-logout:hover {
  color: #FF512F;
  transition: 0.2s;
  cursor: pointer;
}

.icon-btn-logout {
  font-size: 20px;
  margin-bottom: -4px;
  margin-right: 4px;
}






.nav-menu.active {
  left: 0;
  transition: 350ms;
}


.nav-menu {
  border-color: #FF512F;
  box-shadow: #FF512F;
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  transition: 850ms;
}

.sidebar {
  border-color: #FF512F;
  box-shadow: #FF512F;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 12;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: hsl(360, 67%, 44%);
  transition: all 0.3s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
