* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2F6FF;
}

h1 {
  font-family: Roboto, sans-serif;
}

body, input, textarea, button {
  font-family: Roboto, sans-serif;
}
